
<! DOCTYPE html>
<html>
<head>
	 <link href="/stylesheets/layout.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

<<<<<<< HEAD
<body>
  <div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Welcome back you creep</h2>
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
    <form method=POST action="/users/login">
    <p class="form-control"><input type="text" name="email" placeholder="Email" required></p>
    <p class="form-control"><input type="password" name="password_digest" placeholder="Password"></p>
    <a href="/users/home" class="login-button">Log In</a>
  </form>
</body>



=======


    <!--<p>How'd you doing?</p>-->

		<br></br>
<h2 class="update_h2">Welcome Back You Creep!</h2>
<br></br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<form method=POST action="/users/login">
  <p class="signup_field"><input type="text" name="email" placeholder="Email">
		</br>
  <p class="signup_field"><input type="password" name="password_digest" placeholder="Password">
	<br></br>
  	<button type="submit" value="submit">Log In</button>

</form>
>>>>>>> 3e2e7ed5514459d7c6e6088880930fb88e38882b
