
<! DOCTYPE html>
<html>
<head>
	 <link href="/stylesheets/front.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">



    <!--<p>How'd you doing?</p>-->

		<br></br>
<h2 class="update_h2">Welcome Back You Creep!</h2>
<br></br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<form method=POST action="/users/login">
  <p class="signup_field"><input type="text" name="email" placeholder="Email">
		</br>
  <p class="signup_field"><input type="password" name="password_digest" placeholder="Password">
	<br></br>
  	<a href="/users/home" class="login-button">Log In</a>

</form>
