
<html>
<head>
	 <link href="/stylesheets/front.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
</head>
<br></br>
</section> <h2 class="update_h2">I'm ready to Peek!</h2>
<br></br>


<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form method=POST action="/users/signup">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="email" placeholder="Email"></p>
  <p><input type="password" name="password_digest" placeholder="Password"></p>
	<br></br>
  <a href="/users/signup" class="login-button">Sign Up</a>
</form>
