<div id="content">
  <div id="login_form">
<br></br>
<h2 class="update_h2">Update your profile</h2>
<br></br>

<form method="POST" action="/users/updated">
<input type="text" name="name" placeholder="Name">
<br></br>

<input type="text" name="email" placeholder="Email">
<br></br>

<input type="password" name="password_digest" placeholder="Password">
<br></br>


<button type="submit" value="submit">Edit Profile</button>
</form>
</div>
</div>
