
<h2> Create Your New Post</h2>


<form method="POST" action="/posts/<%=@location.city%>/new">

<p>Name your post: <input name="post[name]" type="text">
  <p>Fill in your content: <input name="post[content]" type="text">
<br><br>


<button type="submit" name="submit">Submit</button>
</form>
