create a new post page

<h2> Create Your New Post</h2>

<form method="POST" action="/posts/new">
<p>Name of Forum: <input name="post[name]" type="text">
<br><br>
<p>Content: <input name="post[content]" type="text"></p>

<button type="submit" name="submit">Submit</button>
</form>
