<html>

 <p class="index_login">I'm back to Peek</p>

  <a href="/users/login" class="login-button">Log In</a>



<br></br>

 <p class="index_login">I want to start peeking</p>
     <a href="/users/signup" class="login-button">Sign Up</a>
 </html>
