<!DOCTYPE html>
<html>
<head>
	 <link href="/stylesheets/layout.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
	 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

  <p class="index_login">I'm back to Peek</p>

	<a href="/users/login" class="login-button">Log In</a>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br></br>

  <p class="index_login">I want to start peeking</p>
  	<a href="/users/signup" class="login-button">Sign Up</a>

