<!DOCTYPE html>
<html>
  <head>

    <form method="POST" action="/locations/view_forums"><input type="text" name="user_input" value="Search Peeker"></form>
    <meta charset="utf-8">
    <title>peeker</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
